###MARKDOWN BASIC
* **BOLD**
* *ITALIC*
* ***IB***
*NORMAL TEXT
 *SUBLIST 1
 *SUBLIST 2
 
 
 
1.Ordered list element 1 
2.Ordered list element 2




-[  ] option 1
-[  ] option 2
-[  ] option 3



[jupyter logo](a.png)

![jupyter logo](a.png)
<imp src="jupyter logo.png" style="float:left">

### PYTHON BASIC

In [ ]:
PYTHON VERSION 3.7
SCRIPT
Object oriented
functional

In [1]:
#  python comments

print("good afternoon","anju !",end="")# basic output
print("welcome to python training")

good afternoon anju !welcome to python training

### Assignments

In [2]:
n1=123456 #single variable assignment
n2 = n3 =n1 #Multi variable assignment 
a,b,c =123,234,345 #Multi variable assignment with differant values
print (a,b,c)

123 234 345

### data type

In [ ]:

- int
- float
- string
- double

In [5]:
    type(a)
    s1="python"
    type(s1)
    
    f1=12.345
    type(f1)
    
    float(str(int(f1)))

12.0

### arithmatic operations
-
+
=
/
%
**

In [8]:
n1%11
n3 = n2 ** 2
type(n3)
#len(str(n3))
atoms =10 ** 82
type(n3)
#len(str(atoms))
type(atoms)

int

2

## conditionals

In [17]:
if atoms <10 ** 90:
    print("true")
else:
    print("false")

true

In [4]:
#check if a number is even

n = 8
if n%2==0:
    print("Even")
else:
    print("odd")

Even

In [23]:
# find the greatest of 3 numbers

n1 = input ("enter the first number")
n2 = input ("enter the second number")
n3 = input ("enter the third number")

if n1 > n2 and n1 > n3:
    print (n1, "is the greatest")
elif n2 > n3:
    print(n2, "is the graetesr")
else:
    print(n3,"is the greatest")

enter the first number2
enter the second number4
enter the third number6
6 is the greatest

In [8]:
#check if an year is a leap year
n=1234
if year % 400 == 0 or (year % 100 != 0 and year % 4 == 0):

    print("enter year  is leap year")
else:
    print("enter not a leap year")

enter not a leap year

In [10]:
#check if  a number exists in a given range (inclusive )

n1 =10
lb =4
ub =6

n = int(input("enter no"))
a = int(input("enter a"))
b = int(input("enter b"))
if n in range (a,b):
    print("yes")
else:
    print("no")

enter no4
enter a6
enter b8
no

In [11]:
#calculate the number of digits in a number 
n =input("enter no")
c = 0
for i in n:
    if i.isdigit():
        c=c+1
        print(c)

enter no2
1

In [13]:
# check if a number is a multiple of 10 
n = int (input("enter no"))
for i in range (1,11):
    print(n,"*",i,n*i)

enter no10
10 * 1 10
10 * 2 20
10 * 3 30
10 * 4 40
10 * 5 50
10 * 6 60
10 * 7 70
10 * 8 80
10 * 9 90
10 * 10 100

In [14]:
check if a number is a faccor of 100
n = int(input("enter no"))
if 1000 % n == 0:
    print("yes it is a factor")
else:
    print("not factor ")

SyntaxError: invalid syntax (<ipython-input-14-1b117fbd13a7>, line 1)

In [ ]:
# check if a given string is equal to a number

In [2]:
# culate the square root of a number without function
n1 = 123
n1 ** 0.5

11.090536506409418

In [2]:
# caliculate the number of micro seconds in a
# given year (considering leap year logic )
year = 2019
if year % 400 == 0 or (year % 100 != 0 and year % 4 == 0):
    print(366 * 24 * 60 *(10**9))
else:
    print(365 * 24 *60 *(10**9))

525600000000000

In [ ]:
#